<div style="position: fixed; z-index: -99; width: 100%; height: 100%; left: 0px;">
      <!-- <iframe frameborder="0" height="100%" width="100%" src="https://www.youtube.com/embed/dFr9AizaGKk?wmode=opaque&autoplay=1&controls=0&loop=1&rel=0&showinfo=0&autohide=1"></iframe> -->
</div>

<div id="main">
    <img src="images/guy.png" id="person" align="left"/>
    <h1 class="title">JOBIFY</h1>
    <p class="statement">
        Because we understand. <br>Because we feel. <br>We, find jobs.
    </p>
    <div class="form-group"><br><br>
        <label for="year" class="year">Select the year you will be graduating</label>
        <select class="form-control" id="selectYear">
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
        </select><br>
        <a href="/analysis"><button class="btn btn-primary btn-block" type="submit">Submit</button></a>
    </div>
</div>
