.body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#person {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.year {
    padding-top: 20px;
    font-size: 15px;
}

.statement {
    font-size: 17px;
}

.title {
    font-style: italic;
}

.analysis {
    color: black;
}
